@charset "utf-8";

/*--フォント--*/
html {
  font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$beige : #f9f8f6;
$brown : #887f69;
$dark-brown: #524c3e;
$gray : #e2ddd4;
$deep-gray : #b0b0b0;
$red : #9d1a2d;





body{
  background: #FAF7F7;
  @include fontsize(12);
} 

.clear_fix::after{
  content:'';
  display: block;
  clear: both;
}

//headre
  
  #header_in {
    padding-top: 35px;
 
 // header pc view 
  @media (min-width: 550px){
    
  .logo {
    
    h1{
    width: 170px;
  }
}
    .sp_navi {
          display: none;
        }
        
      .pc_navi_li{
        display: flex;
        align-items: flex-end;
        margin: 25px 0px 0px;
        
        li {
      list-style: none;
      padding: 0px 0px 0px 16px;
      
          a {
            color: $dark-brown;
            text-decoration: none;
            font-weight: bold;
        }
      }    
    }
  }

//header sp view
  @media (max-width: 549px){

    .logo{
      text-align: center;

      
      h1{
       max-width: 50%;
       margin: 0 auto;
    }
  }

  .navi{

       
       .pc_navi{
         display: none;
       }
       .sp_navi_li{
         list-style: none;
         display: flex;
         justify-content: center;
         
         
          li{
            margin: 0px 8px 0px;
         }
       }
       
      .navi_menu_li{
        list-style: none;
        width: 180px;
        position: absolute;
        top: 110px;
        right: 2%;
        border: 1px solid #eee;
        background: white;
        margin: 0;
        padding: 0;
        z-index: 100;
        display: none;
        
     li{
      display: block;
      padding: 10px 8px;
      border-bottom: 1px solid #eee;
      font-size: 14px;
      text-decoration: none;
      margin: 0;
        }
      }
    }
  }
}

//slide-show

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0px;
    text-align: left;
}
.owl-theme .owl-dots .owl-dot span {
    width: 22px;
    height: 2px;
    margin: 2px 5px 2px 0px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: $red;
}

//new-items

#new-items{
  
  .title{
    margin: 20px 0px ;
  }
  
  @media(min-width: 550px){
    .sp_title{
      display: none;
   }
  
  .contents{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;

      .item{
        background-color: #ffffff;
        width: 29%;
        padding: 3% 2% 0%;
        margin: 0px 0px 2px 2px;
        
        .price{
          margin-top: -17px;
          
        }
      }
    }
  }
  @media(max-width: 549px){
    .pc_title{
      display: none;
    }
    
    .sp_title{
       text-align: center;
    }
    
      .contents{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;

      .item{
      background-color: #ffffff;
        width: 45%;
        padding: 3% 2% 0%;
        margin: 0px 0px 2px 2px;
        
        .price{
          margin-top: -17px;
          
        }
      }
    }
  }
}

//popular-items

#popular-items{
  
  .title{
    margin: 30px 0px 20px;
  }
  
  @media(min-width: 550px){
    .sp_title{
      display: none;
   }
  
  .contents{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;

      .item{
        background-color: #ffffff;
        margin: 0px 0px 2px 2px;
        width: 29%;
        padding: 3% 2% 0%;
        
        .price{
          margin-top: -17px;
          
        }
      }
    }
  }
  @media(max-width: 549px){
    .pc_title{
      display: none;
    }
    
    .sp_title{
       text-align: center;
    }
    
      .contents{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;

      .item{
        background-color: #ffffff;
        margin: 0px 0px 2px 2px;
        width: 45%;
        padding: 3% 2% 0%;
        
        .price{
          margin-top: -17px;
          
        }
      }
    }
  }
}

//shopping-guide


#guide{
  
  .title{
    margin: 20px 0px 20px;
  }
  
  @media(min-width: 550px){
    .sp_title{
      display: none;
      
    }
  }

  @media(max-width: 549px){
    .sp_title{
      text-align: center; 
    }
    
    .pc_title{
      display: none;
    }
  }
      
    .guide_box{
      display: flex;
      width: 100%;

      
      .box{
        background-color: #ffffff;
        margin: 0% 0.5% 0%;
        padding: 15px;
        width: 48%;
      
        h3{
          color: $brown;
          font-size: 1.6rem;
          font-weight: bold;
          margin: 12px 0px 10px;
        }
        
        h4{
          font-size: 1.2rem;
          color: $brown;
          margin: 14px 0px 5px;
        }
        
        p{
          font-size: 1.2
          rem;
          margin: 0px;
          padding: 0px;
        }
        
     }
  }

  @media(max-width: 549px){
    .guide_box{
      flex-direction: column;
      
      .box{
        width: 95%;
        margin-bottom: 4px;
        padding-right: 0px;
      }
    }
  }
}

//side_bar

#item-search{
  padding: 5px 15px 5px 15px;
  background-color: #ffffff;
  margin-bottom: 10px;
  
  .title_img{
    padding: 10px 0px;
  }

  
  input{
    background-color: $gray;
    background-repeat: no-repeat;
    color: $deep-gray;
    opacity: 0.7;
    border-radius: 0;
    border: 0px;
    width: 100%;
    height: 30px;
    
    background-image: url("../images/top/search_icon.png");
    background-position: 95% 50%;
  }
}

//page_link

#page_link_title{
  background-color: $brown;
  margin-bottom: 10px;
  padding: 14px 0px 10px 10px;
  background-repeat: no-repeat;
    
    background-position: 95% 50%;
    background-image: url(../images/top/next_icon.png);
}

//categories

#categories{
  margin-bottom: 9px;
  
  .top_bar_title{
    background-color: $brown;
    margin: 0;
    padding: 12px 0px 12px 10px;
    background-repeat: no-repeat;
    
      background-position: 95% 50%;
      background-image: url(../images/top/down_icon.png);
  }

  .categories_item{
    background-color: #ffffff;
    margin-bottom: 2px;
    padding: 15px 0px 10px 10px;
    background-repeat: no-repeat;
    
      background-position: 95% 50%;
      background-image: url(../images/top/next_icon_gray.png);
  }
}


//about

#about{
  margin-bottom: 10px;

  .top_bar_title{
    background-color: $brown;
    padding: 12px 0px 12px 10px;
  }

  @media(min-width: 550px){
  .about_box{
    background-color: #ffffff;
    padding: 10px;
  
      p{
        margin-bottom: 10px;
      }
   
    .more_button{
       text-align: center;
       margin-bottom: 10px;
      }
    } 
  }
}

  @media(max-width: 549px){
  .about_box{
    background-color: #ffffff;
    padding: 10px;
    display: flex;
  
    .sp_right{
      width: 50%;
      padding-left: 10px;
    
      p{
        margin-bottom: 10px;
      }
    }
  } 
}

//shop_info

#shop_info
  .top_bar_title{
    background-color: $brown;
    margin: 0;
    padding: 12px 0px 12px 10px;
  }

@media(min-width: 550px){
.info_box{
  background-color: #ffffff;
  padding: 10px;
  
   p{
     margin-bottom: 10px;
   }
   
   .more_button{
     text-align: center;
     margin-bottom: 10px;
    }
  }
}

@media(max-width: 549px){
.info_box{
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  
  .sp_right{
    width: 50%;
    padding-left: 10px;
    
    p{
      margin-bottom: 10px;
    }
  }
  
  } 
}


@media(min-width: 550px){
  .page_top_button{
  text-align: right;
  margin: 60px 0px 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid $gray;
  }
}


@media(max-width: 549px){
  .page_top_button{
  text-align: center;
  margin: 20px 0px 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid $gray;
  }
}

   .footer_link{
    color: $dark-brown;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 10px;
    
    span{
      margin: 0px 10px;
    }
    
    a{
      color: $dark-brown;
      text-decoration: none;
    }
 }
 
 .copy_right{
   color: $gray;
   text-align: center;
   font-size: 0.7em;
   margin: 5px;
 }
 


/*--------- list.html ---------*/

#pankuzu_list{
  background-color: $gray;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid $gray;
  border-radius: 4px;
  
  
  .home_icon{
    padding: 0px 10px;
  }
  
  p{
    color: $dark-brown;
    margin: 0px;
    opacity: 0.5;
  }
  
}

#head_img{
  margin-bottom: 10px;
  width: 100%;

  @media(min-width: 550px){
    .head_img_sp{
      display: none;
    }
  }

  @media(max-width: 549px){
    .head_img_pc{
      display: none;
    }
  }
}

//img_list

#img_list{
  
  @media(min-width: 550px){
  .contents{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;

      .item{
        background-color: #ffffff;
        width: 29%;
        padding: 3% 2% 0%;
        margin: 1px;
        
        .price{
          margin-top: -17px;
          
        }
      }
    }
  }
  @media(max-width: 549px){
      .contents{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;

      .item{
        background-color: #ffffff;
        width: 45%;
        padding: 3% 2% 0%;
        margin: 1px;
        
        .price{
          margin-top: -17px;
          
        }
      }
    }
  }
}

#under_button{
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  
  .back_button{
    background-color: $brown;
    color: #ffffff;
    width: 120px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .next_button{
    background-color: $brown;
    color: #ffffff;
    width: 120px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 2px;
  }
}

#recent_title{
  margin: 30px 0px 15px;
  
  @media(min-width: 550px){
    .recent_title_sp{
      display: none;
    }
  }
  
  @media(max-width: 549px){
    .recent_title_pc{
      display: none;
    }
    
    .recent_title_sp{
      text-align: center;
      margin-top: 20px;
    }
  }
}

#recent_list{
  
  @media(min-width: 550px){
  .contents{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;

      .item{
        background-color: #ffffff;
        width: 29%;
        padding: 3% 2% 0%;
        margin: 1px;
        
        .price{
          margin-top: -17px;
          
        }
      }
    }
  }
  @media(max-width: 549px){
      .contents{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;

      .item{
        background-color: #ffffff;
        width: 45%;
        padding: 3% 2% 0%;
        margin: 1px;
        
        .price{
          margin-top: -17px;
          
        }
      }
    }
  }
}

#product{
  
  background-color: #ffffff;
  
  @media(min-width: 550px){
    padding: 30px 60px;
  }
  
  @media(max-width: 549px){
    padding: 20px 10px;
  }
  
  @media(min-width: 550px){
  .name_bar{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $gray;
    margin-bottom: 20px;
    
    .name{
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 1.2em;
    }
    
    p{
      color: $gray;
      font-weight: bold;
      }
    }
  }
  
  @media(max-width: 549px){
  .name_bar{

    border-bottom: 2px solid $gray;
    margin-bottom: 20px;
    
    .name{
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 1.2em;
    }
    
    p{
      color: $gray;
      font-weight: bold;
      margin-bottom: 10px;
      }
    }
  }
  
  @media(min-width: 550px){
    .product_img{
      display: flex;
      border-bottom: 2px solid $gray;
    
      .main_img{
        width: 70%;
      }
  
      ul{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0px;
        width: 30%;
      
        li{
          list-style: none;
          flex-shrink: 0;
          width: 43%;
          margin: 0px 0px 0px 10px;
        }
      }
    }
  }
  
  @media(max-width: 549px){
    .product_img{
      border-bottom: 2px solid $gray;

      ul{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0px;
        justify-content: space-between;
      
        li{
          list-style: none;
          width: 18%;
          margin: 0px 0px 5px;
        }
      }
    }
  }
}

#color_size{
  
  padding-bottom: 20px;
  widrth: 100%;
  
  .title{
    padding: 20px 0px;
  }
  
  .color_size_box{
    border: 1px solid $gray;
    text-align: center;
    color: $brown;
    font-weight: bold;
    width: 100%;
    
    th{
      border-right: 1px solid $gray;
      width: 26%;
      text-align: center;
      padding: 8px 0px ;
    }
    
    td{
      border-right: 1px solid $gray;
      width: 37%;
      text-align: center;
      padding: 8px 0px;
    }
      
    span{
      padding: 0px 7px;
      border: 1px solid $gray;
    }
  }
}

@media(min-width: 550px){
  #price_cart{
    display: flex;
    justify-content: space-between;
    
    .price_bar{
      width: 55%;
      border-top: 2px solid $gray;
      border-bottom: 2px solid $gray;
      display: flex;
      height: 65px;
      line-height: 5.5;
      
      .price_img{
        width: 35%;
      }
      
      .price_text{
        width: 65%;
        font-style: oblique;
        line-height: 2.5;
        @include fontsize(15);
        
        .red{
          color: #e80f66;
        }
        
        .big{
          font-size: 2.2rem;
          display: inline-block;
          transform: scale(0.9, 1.4);
        }
        
        .tax{
          font-weight: bold;
        }
      }
    }
  
    .cart_img{
    width: 40%;
    }
  }
}

@media(max-width: 549px){
  #price_cart{

    .price_bar{
      width: 100%;
      border-top: 2px solid $gray;
      border-bottom: 2px solid $gray;
      display: flex;
      height: 65px;
      align-items: center;
      
      .price_img{
        width: 38%;
      }
      
      .price_text{
        width: 60%;
        font-style: oblique;
        line-height: 2.5;
        @include fontsize(15);
        
        .red{
          color: #e80f66;
        }
        
        .big{
          font-size: 2.2rem;
          display: inline-block;
          transform: scale(0.9, 1.4);
        }
        
        .tax{
          font-weight: bold;
        }
      }
    }
  
    .cart_img{
    display: none;
    }
  }
}

@media(min-width: 550px){
  #quantity{
    display: flex;
  
    border-bottom: 2px solid $gray;
    display: flex;
    height: 65px;
    align-items: center;
  
    .quantity_img{
      width: 20%;
    }
  
    input{
      margin-top: 15px;
    }
  }
}

@media(max-width: 549px){
  #quantity{
    display: flex;
  
    border-bottom: 2px solid $gray;
    display: flex;
    height: 65px;
    align-items: center;
  
    .quantity_img{
      width: 38%;
    }
  
    input{
      margin-top: 15px;
    }
  }
}


.sp_cart_img{
  @media(min-width: 550px){
    display: none;
  }
  
  @media(max-width: 549px){
    margin: 15px 0px;
    text-align: center
  }
}

#description{
  
  .title{
    border-bottom: 2px solid $gray;
    color: $brown;
    font-weight: bold;
    @include fontsize(15);
    padding: 10px 0px;
    margin-top: 20px;
  }
  
  .item_title{
    color: $brown;
    font-weight: bold;
    @include fontsize(15);
    padding: 20px 0px;
  }
  
  .description_text{
    color: $dark-brown;
    @include fontsize(14);
  }
  

  .color_size{
    margin: 20px 0px;
    width: 100%;
    color: $brown;
    border: 1px solid $gray;
      
    th{
      background-color: $beige;
      border-right: 1px solid $gray;
      padding: 8px 0px;
      width: 25%;
      text-align: center;
    }
      
    td{
      width: 75%;
      padding: 8px 0px 8px 10px;
    }
  }
  
}
